.banner {
    box-sizing: border-box;
    background-image: url(../../assets/img/site\ dg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 790px;
    border-bottom: 10px solid #000;
    padding-top: 10px;
    
    
}

.banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 640px;

}

.banner .box {
    margin-bottom: 40px;
}

.banner .navigation {
    display: flex;
    justify-content: space-around;
}
